# SET Data Structure

In [ ]:
# {}: representation of set must be filled with values otherwise only empty {} is dictionary
# If you want to represent unique values as a single entity you should go for set
# Insertion order is not preserved and set can be sorted
# Math operations can be performed
# Set objects are mutable so changes can be performed
# Indexing and slicing are not allowed
# Duplicates are not allowed

In [1]:
s = {10, 20, 30}
print(s)
print(type(s))

{10, 20, 30}
<class 'set'>

In [7]:
l = set([65, 45, 89])
print(l)
print(type(l))

{89, 65, 45}
<class 'set'>

In [2]:
r = {"Sakshi", 909,100}
s.add ("Rushi")    ### to add an element or value in set
print(s)

{'Rushi', 10, 20, 30}

In [3]:
s.update(r)     #### update function adds multiple values to the set, elements must be in range or list
print(s)

{20, 100, 'Sakshi', 10, 'Rushi', 909, 30}

In [17]:
print(s)

{65, 10, 45, 'Rushi', 20, 89, 30}

In [9]:
p = s.copy()
print(p)

{'Rushi', 65, 20, 89, 10, 45, 30}

In [12]:
p.pop()    ### removes any random element or string
print(p)

{'Rushi', 40, 10, 45, 20, 89, 30}

In [13]:
p.remove(10)     #### removes specified element or string
print(p)

{'Rushi', 40, 45, 20, 89, 30}

In [19]:
print(p)
r = {"Rushi",40, 89}
rm = p - r
print(rm)

{'Rushi', 65, 20, 89, 10, 45, 30}
{65, 10, 45, 20, 30}

In [20]:
rm.discard(30)
print(rm)
rm.discard(100)   #### discarding of unidentified value wont give any error unlike remove function
print(rm)

{65, 10, 45, 20}
{65, 10, 45, 20}

In [20]:
rm.clear()    ##this will remove all elements in set
print(rm)

set()

In [23]:
x = {20, 30, 40, 50}
y = {40, 50, 60, 70}
print(x)
print(y)        ## insertion order is not preserved

{40, 50, 20, 30}
{40, 50, 60, 70}

In [24]:
z = x.union(y)     ### union returns all the values present in both sets including common (x/y)
z3 = x | y
print(z)         ## Duplicates are not allowed
print(z3)

{70, 40, 50, 20, 60, 30}
{70, 40, 50, 20, 60, 30}

In [27]:
z1 = x.intersection(y)    ### returns only common values
z2 = x&y
print(z1)
print(z2)

{40, 50}
{40, 50}

In [29]:
z3 = x.difference(y)    ## returns elements in x
z4 = y.difference(x)    ## returns elements in y
print(z3)
print(z4)

{20, 30}
{60, 70}

In [31]:
z5 = x.symmetric_difference(y)    ## It will return uncommon elements from both sets but removes common elements from both sets
print(z5)

{20, 70, 60, 30}

In [4]:
a = {"sonali"}
a1 = set("sonali")
print(a)
print(a1)

{'sonali'}
{'o', 'i', 'l', 'n', 'a', 's'}

In [26]:
a2 = 'l' in a1
a3 = 'k' not in a1
print(a2)
print(a3)

True
True

# Dictionary Data Structure

In [10]:
## Its a key and value pair {1: "Rushikesh"}
## Duplicate keys are not allowed but duplicate values are allowed
## Insertion order is not preserved
## Heterogenous dtypes (Strings, integers) are allowed
## indexing and slicing cant be done but using keys we can index and add values

d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [14]:
d = {1: "Rushi", 2: "Rushikesh", 3: 45}
print(d)

{1: 'Rushi', 2: 'Rushikesh', 3: 45}

In [15]:
d[1]    #### Indexing using keys

'Rushi'

In [16]:
d[4] = "Bose"      ### Adding values using key
print(d)

{1: 'Rushi', 2: 'Rushikesh', 3: 45, 4: 'Bose'}

In [17]:
d[9] = "Hmm"
print(d)

{1: 'Rushi', 2: 'Rushikesh', 3: 45, 4: 'Bose', 9: 'Hmm'}

In [18]:
del d[4]
print(d)

{1: 'Rushi', 2: 'Rushikesh', 3: 45, 9: 'Hmm'}

In [19]:
n = {"Ram":"Sita", "Radha":"Krishna"}    #### you can have string and values are keys
n.update(d)
print(n)

{'Ram': 'Sita', 'Radha': 'Krishna', 1: 'Rushi', 2: 'Rushikesh', 3: 45, 9: 'Hmm'}

In [11]:
m = {"Ram":["Sita","laxman"],"Radha":["Krishna","Sudama"]}   ###### can have multiple values in one key
print(m)

{'Ram': ['Sita', 'laxman'], 'Radha': ['Krishna', 'Sudama']}

In [13]:
m.clear()
print(m)

{}

In [14]:
len(d)

4

In [15]:
d.keys()     ## gives only keys present in dictionary

dict_keys([1, 2, 3, 9])

In [16]:
d.values()   ###Gives only values present in dictionary

dict_values(['Rushi', 'Rushikesh', 45, 'Hmm'])

In [17]:
d.items()    #### gives both values and keys present in dictionary

dict_items([(1, 'Rushi'), (2, 'Rushikesh'), (3, 45), (9, 'Hmm')])

In [18]:
d.pop(2)   ### It will remove specified element

'Rushikesh'

In [19]:
d

{1: 'Rushi', 3: 45, 9: 'Hmm'}

In [20]:
d.popitem()    #### Removes any random element from dictionary

(9, 'Hmm')

In [21]:
print(d)

{1: 'Rushi', 3: 45}

In [22]:
e = d.copy()    #### Copies the dictionary in different variable
print(e)

{1: 'Rushi', 3: 45}

# Range Data Structure

In [23]:
##### It basically gives range of data

list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [24]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [28]:
tuple(range(1,15,3))

(1, 4, 7, 10, 13)

In [20]:
set(range(15))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [29]:
for a in range(1,15,4):
    print(a)

1
5
9
13

In [31]:
## If no values are available none are introduced
a = None
print(a)

None

In [34]:
# ## Escape characters

# \n == returns the next data or statement on new line
# \t == gives space between 2

a = ("I am good\n, but you are not")
print(a)

b = ("I am good\t, but you are not")
print(b)

I am good
, but you are not
I am good	, but you are not

In [35]:
### Arithmetic operators
## +, -, *, /, %, //, **

a = 30
b = 7

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) ## modulo operator will give only remainder
print(a//b) ## Floor division will return only 4 out of 4.2857...
print(a**b)    #### it will return exponent value i.e a^b

37
23
210
4.285714285714286
2
4
21870000000

In [23]:
### Boolean data types

a = True
b = True

print(a+b)

2

In [24]:
print(a>b)

False

In [25]:
print(a==b)

True

In [40]:
print(a-b)

0

In [41]:
##### Logical operators and , or, not

True and True

True

In [42]:
True or True

True

In [43]:
True and False

False

In [44]:
not False

True

In [48]:
print(10 and 20)    ###### always returns y unless x is o i.e false
print(0 and 20)

20
0

In [49]:
print(10 or 20)    #### return x if x is true i.e non-zero otherwise it is y only
print(0 or 20)

10
20

In [51]:
##### Importing modules: Its a package with functions in it ,related to task we perform
#### import modules_name or import math as alias(short form eg. m) or from module_name import function1,function2......functionN

import math as m
m.pi

3.141592653589793

In [55]:
m.sqrt(9)

3.0

In [56]:
from math import sqrt,pi
print(pi)
print(sqrt(4))

3.141592653589793
2.0

In [26]:
import datetime as dt

k = dt.date(2030,2,9)    #### year,month,day
print(k)

2030-02-09

In [27]:
a = dt.date.today()      #### syntax is module_function_attribute()
print(a)

2023-12-11

In [64]:
print("Current year :",a.year)
print("Current month :",a.month)
print("Current day :",a.day)

Current year : 2023
Current month : 11
Current day : 1

In [32]:
from datetime import time, timedelta, timezone

a1 = dt.time(11,36,56)
print(a1)

11:36:56

In [29]:
print("Current hour :",a1.hour)
print("Current minute :",a1.minute)
print("Current second :",a1.second)

Current hour : 11
Current minute : 36
Current second : 56