# String Operator as DT

In [13]:
# Input function is default string DT and if integer has to be written prefix the i/p with int()

A = input("My name is :")
B = int(input("My age is :"))
print(A)
print(B)
print(type(A))
print(type(B))

My name is :RUshikesh
My age is :25
RUshikesh
25
<class 'str'>
<class 'int'>

In [14]:
Distance = int(input("Distance travelled is :"))
Time = int(input("Time taken is :"))
Speed = Distance/Time
print("Speed of the car is :", round(Speed,2), "km/hr")

Distance travelled is :5489
Time taken is :123
Speed of the car is : 44.63 km/hr

In [19]:
## Mathematical operators in string
## + = concatenation
## * = repeting the string

A = "Rushikesh"
B = "Barwade"
C = A + B
D = A +' '+B
print(C)
print(D)
print(A*3)

D1 = "Rushi "
E = D1*3 
print(E)

RushikeshBarwade
Rushikesh Barwade
RushikeshRushikeshRushikesh
Rushi Rushi Rushi

In [20]:
## Coparing strings using comparison operators (<,>,<=,>=) and Equality/Assignment operators (==,!=) alphanetically

A = "Rushikesh"
B = "Barwade"

print(A<B)
print(A>B)
print(A<=B)
print(A>=B)
print(A==B)
print(A!=B)

False
True
False
True
False
True

In [24]:
A1 = "    Rushikesh Barwade"
A2 = "Rushikesh Barwade      "
A3 = "     Rushikesh Barwade  "

print(A1)
print(A2)
print(A3)

A1 = A1.lstrip()
print(A1)
A2 = A2.rstrip()
print(A2)
A3 = A3.strip()
print(A3)

    Rushikesh Barwade
Rushikesh Barwade
     Rushikesh Barwade
Rushikesh Barwade
Rushikesh Barwade
Rushikesh Barwade

In [32]:
## Replacing string with another string

R = "My name is Rushikesh"
print(R)

S = R.replace("name","2nd name")
S3 = R.replace(" ", ",")
S4 = R.replace("name","2nd name").replace("Rushikesh","Barwade")
print(S)
print(S3)
print(S4)

My name is Rushikesh
My 2nd name is Rushikesh
My,name,is,Rushikesh
My 2nd name is Barwade

In [31]:
## Counting sub-strings in string

S1 = R.count("i")
S2 = R.count(" ")
print(S1)
print(S2)

2
3