In [9]:
## splitting the string
#syntax
# Variable = "String"
# New_Variable = s.split(Spearator)
# print(New_Variable)

a = "Python is a good language"
a1 = a.split(' ')
print(a1)
b = a1[1]
b1 = a1[4]
print(b)
print(b1)

#we can see output is in data structure list format which we can acccess.

['Python', 'is', 'a', 'good', 'language']
is
language

In [3]:
# # splitting using for loop
#syntax for for loop
# for any_var in sequence:
#     print(any_var).........space before print is indentation which denotes statement is inside the loop
# print("Outside the loop")

for a2 in a1:
    print(a2)
print("Outside the loop")

#It gives me a sequence one by one if its a list

Python
is
a
good
language
Outside the loop

In [4]:
#if its a string, for loop will print each letter one by one
for i1 in a:
    print(i1)

P
y
t
h
o
n

i
s

a

g
o
o
d

l
a
n
g
u
a
g
e

In [8]:
### joining the string and list
var = "I am a good learner" 
var2 = ["rushikeshbarwade","gmail.com"]
var1 = '@'.join(var)    ### it will join letters and spaces in between by @
var3 = '@'.join(var2)   #### It will join elements in a list by @
print(var1)
print(var3)

I@ @a@m@ @a@ @g@o@o@d@ @l@e@a@r@n@e@r
rushikeshbarwade@gmail.com

In [11]:
 ##changing the cases in a string (called text cleaning or text processing)
# upper()   Everything in upper 
# lower()  Everything in lower
# swapcase() will convert upper to lower and vice versa
# title()  will convert first letter of every word in upper othere remains lower
# capitalize() will convert first letter of statement in upper only

a = "My NAME Is NoT NinaAD"

print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.title())
print(a.capitalize())

MY NAME IS NOT NINAAD
my name is not ninaad
mY name iS nOt nINAad
My Name Is Not Ninaad
My name is not ninaad

In [14]:
b = ["Ninaad", "Rushikesh", "Pranav"]  # list can't be converted to cases unless it is in loop or it is accessed using index
c = b[1]
print("C is", c)
d = c.upper()
print("D is", d)
for c1 in b:
    print(c1.upper())
    print(c1.lower())
    print(c1.swapcase())
    print(c1.title())
    print(c1.capitalize())

C is Rushikesh
D is RUSHIKESH
NINAAD
ninaad
nINAAD
Ninaad
Ninaad
RUSHIKESH
rushikesh
rUSHIKESH
Rushikesh
Rushikesh
PRANAV
pranav
pRANAV
Pranav
Pranav

In [16]:
## asking python if string start and end are true or not

a = "My name is Rushikesh"
print(a.startswith("My"))
print(a.endswith('is'))

True
False

In [2]:
### formatting of strings using dot format (.format)

name = "Rushikesh"
age = 26
salary = 50000
    
print("The person whose salary is {0} has {1} as his name and his age is {2}".format(salary,name,age))
print("The person whose salary is {} has as his name {} and his age is {}".format(salary,name,age))
print("The person whose salary is {x} has {y} as his name and his age is {z}".format(x=salary,y=name,z=age))
print(f"The person whose salary is {salary} has {name} as his name and his age is {age}")

The person whose salary is 50000 has Rushikesh as his name and his age is 26
The person whose salary is 50000 has as his name Rushikesh and his age is 26
The person whose salary is 50000 has Rushikesh as his name and his age is 26
The person whose salary is 50000 has Rushikesh as his name and his age is 26

# List Data Structure

In [35]:
# l = []...syntax

# In list
# Insertion order and values are preserved
# Duplicate objects are allowed
# Hetrogenous Datatypes are allowed eg. [10, 'string']
# List is dynamic, adding or removing element from any position
# represented in []
# list is mutable i.e modified, elements can be replaced and order can be changed

a = [10,"me",90,785,"I love",[89,"Hmm"]]
print(a)

[10, 'me', 90, 785, 'I love', [89, 'Hmm']]

In [6]:
a1 = [10,"me",90,90,785,"I love"]
print(a1)
print(len(a1))

[10, 'me', 90, 90, 785, 'I love']
6

In [8]:
## replacing using index

a1[1] = "Not me"
#a2 = a1.replace(10, "I")      ## list object has new attribute replace
print(a1)
#print(a2)

[10, 'Not me', 90, 90, 785, 'I love']

In [23]:
a2 = a1[1]
print(a2[0:5])
print(a1[1])
print(a1[1][0:4])    ### Slicing can  be done like this as well

Not m
Not me
Not

In [52]:
for a2 in a1:
    print(a2)

10
Not-me
90
90
785
I love

In [9]:
## IMportant functions of list

#1. len().....number of elements in a list
#2. count().....number of occureneces of specified items in a list
#3. Index()....gives me the position of specified element in list
#4. append()....add anything at the end of list
#5 insert()....adds anything at specified index
#6 extend().....adds multiple values
#7 pop().....it will remove and return the last element or specified element by index

print(len(a1))          ###
print(a1.count(90))    #### It will count occurences of digit or element 90
print(a1.index(90))     #### It will give me the position of  digit 90

a = ["ram", "sita"]
a.append("Laxman")    #### It will add specified element at end
print(a)

a.insert(0,"bharat")    #### IT will add 'bharat' at '0th' position or index
print(a)

a6 = [67,98,98,76,"Ahammmm"]     ### It will extend the list from end element
a.extend(a6)
a5 = a6.extend(a)
print(a)
print("a5 is :",a5)      ##### Its printing none means its not a valid argument

a6.extend(a)
print("a6 is:", a6)

a6.pop(3)     #### It will remove specified element using index of that element
a6.pop()
print("pop is:",a6)

var = [87,98,87,64,76,76,"Om"]     
var.remove(64)          ##### it will remove the specified element using the value
print(var)

6
2
2
['ram', 'sita', 'Laxman']
['bharat', 'ram', 'sita', 'Laxman']
['bharat', 'ram', 'sita', 'Laxman', 67, 98, 98, 76, 'Ahammmm']
a5 is : None
a6 is: [67, 98, 98, 76, 'Ahammmm', 'bharat', 'ram', 'sita', 'Laxman', 67, 98, 98, 76, 'Ahammmm', 'bharat', 'ram', 'sita', 'Laxman', 67, 98, 98, 76, 'Ahammmm']
pop is: [67, 98, 98, 'Ahammmm', 'bharat', 'ram', 'sita', 'Laxman', 67, 98, 98, 76, 'Ahammmm', 'bharat', 'ram', 'sita', 'Laxman', 67, 98, 98, 76]
[87, 98, 87, 76, 76, 'Om']

In [28]:
var

[87, 98, 87, 76, 76, 'Om']

In [88]:
var.reverse()    ### IT will reverse the order
print(var)

['Om', 76, 76, 87, 98, 87]

In [92]:
var1 = [76,98,980,73,65]    
var1.sort()               ###default ascending
print(var1)

[65, 73, 76, 98, 980]

In [93]:
var1.sort(reverse=True)    #descending
print(var1)

[980, 98, 76, 73, 65]

In [98]:
# Python story generator

when = ["I was 10 years old", "I had a car", "I drove an aeroplane"]
where = ["in my home", "in garrage", "in air"]
how = ["doing well", "looking beautiful", "swiftly"]

import random

a = (random.choice(when) + ' ' + random.choice(where) + ' ' + random.choice(how))  ### It will select random text but with logic
print(a)

I had a car in garrage doing well

In [99]:
### Aliasing (exchaning only variables or assigning values or list of 1 variable to another)
#### it will simultaneously change values in both variables if transformation is done
n = [10,100,20,40,50,"Hare"]
print(n)

[10, 100, 20, 40, 50, 'Hare']

In [100]:
y = n
print(y)

[10, 100, 20, 40, 50, 'Hare']

In [101]:
y[2] = 320
print(y)

[10, 100, 320, 40, 50, 'Hare']

In [102]:
print(n)   ## if I change the element in y, element in n is also changing, this is called aliasing

[10, 100, 320, 40, 50, 'Hare']

In [103]:
### Copying or Cloning - If i change the element in w, element in y is not changing

print(y)

[10, 100, 320, 40, 50, 'Hare']

In [104]:
w = y.copy()
print(w)

[10, 100, 320, 40, 50, 'Hare']

In [105]:
w[1] = 987
print(w)

[10, 987, 320, 40, 50, 'Hare']

In [106]:
print(y)

[10, 100, 320, 40, 50, 'Hare']

In [107]:
#### Mathematical operators in list
# + concatinate
# * repeat elements in list

w

[10, 987, 320, 40, 50, 'Hare']

In [108]:
y

[10, 100, 320, 40, 50, 'Hare']

In [109]:
k = w+y
print(k)

[10, 987, 320, 40, 50, 'Hare', 10, 100, 320, 40, 50, 'Hare']

In [110]:
f = w*2
print(f)

[10, 987, 320, 40, 50, 'Hare', 10, 987, 320, 40, 50, 'Hare']

In [116]:
k = w+y
for i in k:
    print(i)

10
987
320
40
50
Hare
10
100
320
40
50
Hare

In [37]:
# length should be same for all lists
## relational operators/Comparison operators/Equaliser (>,<,>=,<=, ==, !=)

x = ["Akshay", 80, "Ruhi", 90]
y = ["Akshay", 90, "Ruhi", 80]
z = ["Akshay", 80, "Ruhi", 90]

print(x==z)
print(x!=y)
print(x<y)   ##### 1st element is same, so it hops to next element which is int value (Alphabate + int value)
print(x>y)

True
True
True
False

In [121]:
x1 = [70, 80, 90]
y1 = [86, 90, 80]


print(x1>y1)
print(y1>=x1)
print(y1<x1)
print(y1<=x1)

False
True
False
False

In [124]:
x1

[70, 80, 90]

In [127]:
## membership operators (it will return T/F if specified element is present in list)

print(70 in x1)
print(100 not in x1)
print(75 in x1)

True
True
False

In [130]:
x1.clear()   ### clear all elements from the list ad return empty list
print(x1)

[]

### Data Structure Tuple

In [131]:
# tuple is immutable (cant add or append or pop elements)
# denoted by ()

t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [136]:
t = (76,98,54,38,53)
t1 = sorted(t)

print(t1)

[38, 53, 54, 76, 98]

In [139]:
a = min(t)
print(a)

38

In [140]:
b = max(t)
print(b)

98

In [142]:
t1 = (8, 53, 54, 76, 98)
c = t+t1
print(c)

(76, 98, 54, 38, 53, 8, 53, 54, 76, 98)

In [143]:
d = t*3
print(d)

(76, 98, 54, 38, 53, 76, 98, 54, 38, 53, 76, 98, 54, 38, 53)

In [144]:
len(t)

5

In [145]:
d.count(38)

3